body {
	font-family: '微软雅黑', arial, helvetica;
	color: #F2F2F2;
	font-size: 18px;
	/*min-width: 1100px;*/
	line-height: 1.8;
}

a {
	text-decoration: none;
}

a:hover,
a:link,
a:visited {
	color: #fff;
}

a.active {
	color: #D34239;
}

#fp-nav ul li a span {
	background-color: #D34239;
}

.slide {
	position: relative;
	background-size: cover;
}


/*导航*/

#nav {
	display: none;
	position: fixed;
	width: 100%;
	z-index: 10;
	font-size: 20px;
	top: 0;
	left: 0;
	background: -webkit-linear-gradient(left, #004682, #0064b3);
	/* Safari 5.1 - 6.0 */
	background: -o-linear-gradient(right, #004682, #0064b3);
	/* Opera 11.1 - 12.0 */
	background: -moz-linear-gradient(right, #004682, #0064b3);
	/* Firefox 3.6 - 15 */
	background: linear-gradient(to right, #004682, #0064b3);
	/* 标准的语法 */
}

.navbar-default .navbar-nav>.active>a,
.navbar-default .navbar-nav>.active>a:hover,
.navbar-default .navbar-nav>.active>a:focus {
	background-color: transparent;
	color: #D34239;
}

.navbar-default .navbar-nav>li>a,
.navbar-default .navbar-nav>li>a:hover,
.navbar-default .navbar-nav>li>a:focus {
	color: #fff;
}

.container-fluid> .navbar-header {
	margin-left: 5%;
}
.navtitle{
	position: absolute;
	top: 0;
	left: 50%;
	height: 50px;
	line-height: 50px;
	transform: translateX(-50%);
}

/*section*/

.section {
	overflow: hidden;
	background-color: #fff;
}
.text-red{
	color: #D34239;
}





/*footer*/

.footerwrap {
	position: relative;
		-webkit-box-flex: 0;
	    -ms-flex: 0 0 80px;
	        flex: 0 0 80px;
	-webkit-flex: 0 0 80px;
	width: 100%;
	/*height: 15%;*/
	background-color: #ECECEE;
	text-align: center;
	font-size: 12px;
	color: #333;
	display: flex;
	justify-content: center;
	align-items: center;
}
.footer a{
	text-decoration: underline;
}
.footer a:hover, a:link, a:visited{
	color: #333;
}

@-webkit-keyframes zoomIn {
	from {
		opacity: 0;
		-webkit-transform: scale3d(.3, .3, .3);
		transform: scale3d(.3, .3, .3);
	}
	50% {
		opacity: 1;
	}
}

@keyframes zoomIn {
	from {
		opacity: 0;
		-webkit-transform: scale3d(.3, .3, .3);
		transform: scale3d(.3, .3, .3);
	}
	50% {
		opacity: 1;
	}
}

.zoomIn {
	-webkit-animation-name: zoomIn;
	animation-name: zoomIn;
	-webkit-animation-duration: .2s;
	animation-duration: .2s;
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both;
}