/*右侧控制按钮*/

#fp-nav {
	display: none;
}
/*公用class*/

.fp-tableCell {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	display: -webkit-flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	-webkit-flex-direction: column;
}

.place4navbar {
	-webkit-box-flex: 0;
	    -ms-flex: 0 0 50px;
	        flex: 0 0 50px;
	-webkit-flex: 0 0 50px;
}

.section .content {
	box-sizing: border-box;
	width: 100%;
	height: 100%;
		        /*-webkit-box-flex: 0;
		            -ms-flex: 0 1 100%;
		                flex: 0 1 100%;
	-webkit-flex: 0 1 100%;*/
	text-align: center;
	overflow: hidden;
	background-size: cover;
	background-position: center;
}

.content .title-lg {
	font-size: 20px;
	line-height: 1.8;
	color: #D34239;
	margin-top: 2%;
}

.content .text-lg {
	font-size: 14px;
	line-height: 1.8;
	color: #333;
}
.leftbr {
	width: 30px;
	height: 2px;
	background-color: #D34239;
	margin: 10px 0;
}
.centerbr {
	width: 30px;
	height: 2px;
	background-color: #D34239;
	margin: 10px auto 20px auto;
}

/*banner*/
.slide{
	background-size: 100% 100%;
}
#slide1 {
	background-image: url('../img/banner-xs-03.jpg');
}

#slide2 {
	background-image: url('../img/banner-xs-02.jpg');
}

#slide3 {
	background-image: url('../img/banner-xs-01.jpg');
}

.fp-controlArrow.fp-prev {
	display: none;
	left: 8%;
	width: 36px;
	height: 63px;
	border: none;
	background-image: url(../img/icon/zuojiantou.png);
	background-repeat: no-repeat;
}

.fp-controlArrow.fp-next {
	display: none;
	right: 8%;
	width: 36px;
	height: 63px;
	border: none;
	background-image: url(../img/icon/youjiantou.png);
	background-repeat: no-repeat;
}

.fp-controlArrow {
	margin-top: -32px;
}

.fp-slidesNav {
	transform: translateX(-50%);
	-webkit-transform: translateX(-50%);
}
.fp-slidesNav ul li a span{
	background: #D34239;
}
.fp-slidesNav.bottom{
	bottom: 0;
}
.fp-slidesNav ul li{
	width: 10px;
    height: 5px;
    margin: 5px;
    position: relative;
}


#slide1 .loadbtn a,#slide2 .loadbtn a,#slide3 .loadbtn a {
    display: block;
    width: 100%;
    height: 150px;
    position: absolute;
    top: 30%;
    left: 0;
}


/*关于久久免单*/

#content1 {
	background-image: url(../img/bg-xs-1.png);
}

#content1>.row {
	margin-top: 2%;
	text-align: left;
}


/*产品*/

#content2 {
	background-image: url(../img/bg-xs-2.png);
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	display: -webkit-flex;
	-webkit-flex-direction: column;
}

#content2 .topwrap {
	text-align: center;
	overflow: hidden;
	flex: none;
}

#content2 .mainwrap {
	display: block;
	-webkit-box-flex: 0;
	    -ms-flex: 0 1 100%;
	        flex: 0 1 100%;
	-webkit-flex: 0 1 100%;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	display: -webkit-flex;
	-webkit-flex-direction: column;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
}

#content2 .col-xs-2 {
	padding-left: 0;
}

#content2 .row .col-xs-9 {
	text-align: left;
	color: #333;
	font-size: 12px;
	/*margin-bottom: 20px;*/
}

#content2 .row .col-xs-9>div:first-child {
	color: #D34239;
	font-size: 14px;
	/*margin-bottom: 8px;*/
}


/*免费喝酒*/

#content3,
#content4,
#content5 {
	background-image: none;
}

/*品质好酒（轮播）*/

#content4 {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	display: -webkit-flex;
	-webkit-flex-direction: column;
}

#content4 .swiper-container {
	height: 100%;
    position: relative;
    width: 80%;
	margin: 0 auto;
	padding-right: 5px;
}
.swiper-wrapper{
	position: absolute;
    width: 100%;
    height: 100%;
}
.swiper-slide {
	text-align: left;
	font-size: 10px;
	color: #000;
	background-color: #fff;
	overflow: hidden;
	box-shadow: 2px 2px 2px #e6e6e6;
	border-radius: 10px;
	height: 85%;
}

.swiper-slide .topimg {
	display: block;
	width: 100%;
}

.swiper-slide .name {
	background-color: #ffcc00;
	font-weight: 600;
	padding: 5px 0 5px 10px;
}

.swiper-slide .desc {
	padding: 10px;
}

.swiper-slide .bottomimg {
    display: block;
    position: absolute;
    width: 25%;
    bottom: 10px;
    left: 0;
    right: 0;
    margin: 0 auto;
}

.swiper-button-next {
	background-image: url('../img/icon/you.png');
	right: 5%;
	left: auto;
	top: 25%;
	width: 35px;
	height: 35px;
	background-size: 100% 100%;
}

.swiper-button-prev {
	background-image: url('../img/icon/zuo.png');
	left: 5%;
	right: auto;
	top: 25%;
	width: 35px;
	height: 35px;
	background-size: 100% 100%;
}

.swiper-button-disabled {
	opacity: .85;
}


/*保持联系*/

#content5 {
	background-image: url(../img/bg-4.png);
	font-size: 12px;
	color: #333;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	display: -webkit-flex;
	-webkit-flex-direction: column;
}

#content5>.row {
	-webkit-box-flex: 0;
	    -ms-flex: 0 1 100%;
	        flex: 0 1 100%;
	-webkit-flex: 0 1 100%;
}

#content5 .btnswrap {
	height: 100%;
	text-align: center;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	-ms-flex-pack: distribute;
	    -webkit-box-pack: justify;
	        justify-content: space-between;
	display: -webkit-flex;
	-webkit-flex-direction: column;
	-webkit-justify-content: space-between;
}

.btnswrap .item {
	text-align: center;
	cursor: pointer;
}

.btnswrap .item img {
	width: 20%;
	margin-bottom: 10px;
}

.dialog {
	display: none;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	width: 80%;
	max-height: 200px;
	margin: auto;
	background-color: #fff;
	border: 1px solid #ccc;
	border-radius: 5px;
	text-align: left;
	padding: 25px 25px;
	z-index: 10;
}

.dialog_title {
	font-size: 14px;
	color: #D34239;
	margin-bottom: 15px;
}

.dialog_content {
	font-size: 12px;
	color: #333;
}

.dialog_cancle {
    position: absolute;
    top: 5px;
    right: 5px;
    color: #ccc;
    cursor: pointer;
    font-size: 20px;
    width: 30px;
    text-align: center;
}

.weixinwrap {
	text-align: center;
	position: absolute;
	top: 50%;
	-webkit-transform: translateY(-50%);
	        transform: translateY(-50%);
}

.weixinwrap .qrcode {
	display: inline-block;
	width: 40%;
	margin-right: 5px;
	vertical-align: bottom;
}

.weixinwrap .qrcode img {
	width: 100%;
}

.weixinwrap .qrcontent {
	display: inline-block;
	text-align: left;
	color: #D34239;
	font-size: 12px;
}


/*关注下载*/

#content6 {
	background-image: url(../img/bg-xs-6.png);
	position: relative;
}

#content6{
	height: 100%;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	-ms-flex-pack: distribute;
	    justify-content: space-around;
	display: -webkit-flex;
	-webkit-flex-direction: column;
	-webkit-justify-content: space-around;
	text-align: center;
}
#content6 img{
	width: 30%;
}
